@page
@model MyApp.Namespace.CreateModel
@{
}
<div>
    <h1>Insersion de Clientes</h1><hr>
    <form action="" method="post">
        <input type="text" asp-for="Cli.Nombres" placeholder="Nombres">
        <input type="text" asp-for="Cli.Apellidos" placeholder="Apellidos">
        <input type="text" asp-for="Cli.Dni" placeholder="DNI">
        <button type="submit">Guardar</button>
    </form>
</div>